.navbar {
  background-color: rgb(214, 178, 231);
  padding: 10px;
  margin: 10px 0 50px 0;
  width: 500px;
  margin: 20px auto;
  border-radius: 30px;
}

#tabButton {
  color: purple;
}

#tabButton:hover {
  font-weight: 900;
  color: palevioletred;
}

#tabButton:selected {
  text-decoration: solid;
}

.countButton {
  background-color: #cc2062;
  position: absolute;
  left: 250px;
  height: 30px;
  width: 30px;
  text-align: center;
  border: coral solid 2px;
  color: white;
  border-radius: 15px;
}