.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px;
  line-height: 100px;
  flex: 40%;
}

.logo img {
  position: relative;
  bottom: 10px;
  margin-left: 20px;
}

.name {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(9, 70, 9);
  font-size: 50px;
}

.name:hover {
  color: rgb(226, 65, 70);
}

.image {
  text-decoration: none;
}

@media screen and (max-width: 1240px) {
  .name {
    font-size: 30px;
  }
  img.logo {
    height: 50px;
  }
}
