.container {
    background-color: rgb(234, 69, 86);
}

.image {
    float: left;
    position: absolute;
    left: 200px;
}

.firstRow {
    clear: both;
    float: right;
}

.secondRow {
    clear: both;
    float: right;
}